.body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 5px 10px;
}

.menu li a{
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}

.fondo-principal{
    background-image: url("../img/fondo1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.texto-header{
    padding-top: 300px;
}

.texto-header p{
    font-weight: 800;
}

.boton-negro:hover{
    color: white;
}

.boton-negro{
    background: black;
    padding: 12px 24px;
    color: white;
}

h2{
    font-weight: 800;
}

h1{
    font-weight: 800;
}

.h-gris{
    color: #a2a2a2;
    
}

.h-footer{
    font-weight: 800;
    color: white;
    background: black;
    padding: 2px;
    display: inline-block;
}
.fondo-bosque{
    background-image: url("../img/fondo2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-top: 100px;
    color: white;
}

.icono-social{
    background: black;
    color: white;
    border-radius: 100%;
    padding: 10px;
}

.icono-social{
    color: white;
}

.fondo-gris{
    background: f3f3f3; 
}

@media (min-width: 576px){
}
@media (min-width: 768px){
}
@media (min-width: 992px){
}
@media (min-width: 1200px){
}
@media (min-width: 1600px){
}
@media (max-width: 1400px){
}
@media (max-width: 1199.98px){
}
@media (max-width: 991.98px){
}
@media (max-width: 767.98px){
}
@media (max-width: 575.98px){
    .fondo-principal{
        background-image: url("../img/fondo1-1.png");
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 537px ;
    }

    .texto-header{
        padding-top: 50px;
    }

    .fondo-bosque{
        background-image: url("../img/fondo2-2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        padding-top: 160px;
    }

    .fondo-bosque h1{
        font-size: 24px;
    }
}