.boton {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-decoration: none;
    padding: 10px 5px;
    border: 1px solid #000000;
    color: #ffffff;
    background: #c3c3c3;
    
}

.boton:hover{
    border: 0px;
    opacity: 0.7;
}

.boton.azul{
    background: #3498db;
}

.boton.rojo{
    background: #e74c3c;
}

.boton.verde{
    background: #1abc9c;
}

.boton.mediano{
    font-size: 18px;
}

.boton.redondo{
    border-radius: 30%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

body{
    background-color: rgb(238, 241, 224);
}